<div class="header page-strap" id="home">
	<div class="top-bar">
		<div class="container">
			<div class="logo">
				<p><a href="/index.html">Center for Theoretical<br />Astrophysics</a></p>
				<br>
				<p class="subtitle"><a href="https://www.lanl.gov/">Los Alamos National Laboratory</a></p>
			</div>
			<div class="info">
				<div class="email">
					<p>
						<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
						<a href="mailto:CTA_recruitment@lanl.gov">CTA_recruitment@lanl.gov</a>
					</p>
				</div>
				<div class="apply-wrap">
					<a class="btn btn-primary btn-sm js-apply" href="https://jobszp1.lanl.gov/OA_HTML/RF.jsp?function_id=14330&amp;resp_id=51616&amp;resp_appl_id=800&amp;security_group_id=0%3C_code%3DUS&amp;params=btOoWGkj963I..Q2L5dcEkwPdY2X8RgGyIGQIgmPvx1ATLhV1EKKfMP8X3LGjq5S&amp;oas=LEh_BAM3qoSLDf-lxE5pKg">APPLY</a>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<div class="strap-bg" aria-hidden="true"></div>
</div>
<div id="cta-nav"></div>
