<nav class="navbar navbar-default">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
			<nav class="menu menu--francisco">
				<ul class="nav navbar-nav menu__list">
					<li class="menu__item__seven"><a href="/research/research.html" class="menu__link"><span class="menu__helper">RESEARCH</span></a></li>
					<li class="menu__item__seven"><a href="/outreach/outreach.html" class="menu__link"><span class="menu__helper">OUTREACH</span></a></li>
					<li class="menu__item__seven"><a href="/opportunities/opportunities.html" class="menu__link"><span class="menu__helper">OPPORTUNITIES</span></a></li>
					<li class="menu__item__seven"><a href="/culture/culture.html" class="menu__link"><span class="menu__helper">CULTURE</span></a></li>
					<li class="dropdown menu__item__seven">
						<a href="#" class="menu__link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="menu__helper">PEOPLE <span class="caret"></span></span></a>
						<ul class="dropdown-menu menu__dropdown">
							<li><a href="/staff/people.html">Staff</a></li>
							<li><a href="/postdocs/postdocs.html">Postdocs</a></li>
							<li><a href="/students/students.html">Students</a></li>
							<li><a href="/emeritus/emeritus.html">Emeritus</a></li>
						</ul>
					</li>
					<li class="menu__item__seven"><a href="/contact.html" class="menu__link"><span class="menu__helper">CONTACT</span></a></li>
					<li class="menu__item__seven"><a href="/events/schedule.html" class="menu__link"><span class="menu__helper">SCHEDULE/EVENTS</span></a></li>
				</ul>
			</nav>
		</div>
	</div>
</nav>
